 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Sofia+Sans:wght@100;200;400;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     font-family: 'Sofia Sans', sans-serif;
 }

 :root {
     --main-color: #1b59a8b5;
     --bg-color: #006c9b40;
     --text-color: black;
     --hover: #031440;
     --bigtext-color: white;
 }

 body {
     background-color: var(--bg-color);
     color: var(--text-color);
 }

 html {
     font-size: 62.5%;
     overflow-x: hidden;
 }



 header {
     position: fixed;
     width: 100%;
     height: 7rem;
     display: flex;
     padding: 0 5rem;
     justify-content: space-between;
     align-items: center;
     box-shadow: 0px -25px 33px -1px #111;
     z-index: 99;
     backdrop-filter: blur(15px);
 }

 .header .logo {
     font-size: 3rem;
     text-decoration: none;
     color: rgb(255, 255, 255);
     font-weight: 600;
 }

 @-moz-document url-prefix() {
     .header .imglogo {
         height: 5rem;
     }
 }

 .navbar-list {
     display: flex;
     gap: 3.5rem;
     list-style: none;
 }

 .navbar-links:link,
 .navbar-links:visited {
     /* sudo class   */
     display: inline-block;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 2rem;
     font-weight: 400;
     color: var(--bigtext-color);
     transition: all 0.3s;
 }

 .navbar-links:hover,
 .navbar-links:active {
     color: #031440;
     font-weight: 500;
 }

 .mobile-navbar-btn {
     display: none;
     background: transparent;
     cursor: pointer;
 }

 .mobile-menu-icon {
     width: 4rem;
     height: 4rem;
     color: var(--bigtext-color);
 }

 .mobile-menu-icon[name="close-outline"] {
     display: none;
 }

 /* ================================hero section=========================================  */
 .section-hero {
     background-image: url(/media/background.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     padding: 20rem 4% 10rem 2%;
     position: relative;
     width: 100%;
     min-height: 100vh;
     display: grid;
     grid-template-columns: 2fr 1fr;
     align-items: center;
     /* gap: 1rem; */
 }

 .sociallogo {
     display: flex;
     flex-direction: column;
     font-size: 3.2rem;
     gap: 0.5rem;
 }

 .githublogo,
 .whatsapplogo,
 .linkedinlogo,
 .qrcodelogo {
     width: 40px;
     height: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(255, 255, 255, 0.3);
     backdrop-filter: blur(15px);
     padding-top: 10px;
     border-radius: 10%;
     box-shadow: 0px 1px 2px -1px #111;

 }

 ion-icon:hover {
     color: #031440;
 }

 ion-icon {
     color: var(--bigtext-color);
 }

 .content {
     width: 100%;
     color: var(--bigtext-color);
     padding: 2rem;
     background: rgba(255, 255, 255, 0.1);
     backdrop-filter: blur(10px);
     border-radius: 2rem;
     box-shadow: 0px 1px 2px -1px #111;
 }

 .content span {
     font-size: 2.5rem;
 }

 .content h1 {
     font-size: 4rem;
 }

 .content h2 {
     font-size: 2.4rem;
 }

 .content p {
     font-size: 1.6rem;
     padding: 1rem 0;
 }

 .herobuttons {
     display: flex;
     justify-content: center;
     gap: 1rem;
 }

 .view_more {
     width: 12rem;
     height: 3.5rem;
     border-radius: 1rem;
     border: none;
     font-size: 2rem;
     cursor: pointer;
 }

 .view_more:hover {
     background: #031440;
     color: white;
 }

 .contact_me {
     width: 12rem;
     height: 3.5rem;
     border-radius: 1rem;
     border: none;
     font-size: 2rem;
     cursor: pointer;
 }

 .contact_me:hover {
     background: #031440;
     color: white;
 }


 /* ============================about me section====================================  */
 #about-section {
     padding-top: 2.2rem;
     background: #006c9b40;
     padding-bottom: 10rem;
 }

 .about-section {
     background: #006c9b40;
 }

 .about-section h1 {
     display: flex;
     justify-content: center;
     font-size: 3rem;
     padding: 5rem 2rem 0rem 2rem;
 }

 .aboutme {
     position: relative;
     width: 100%;
     min-height: 70vh;
     display: grid;
     grid-template-columns: 2fr 2fr;
     padding: 4rem 6rem 1rem 6rem;
 }

 .imgcontainer {
     width: 30rem;
     height: 38rem;
     border: 10px #3a5532 solid;
     position: relative;
     top: 6rem;
     left: 3rem;

 }

 .aboutmeimg {
     position: absolute;
     width: 28rem;
     height: 38rem;
     bottom: 4rem;
     left: 5rem;
     border: 10px white solid;
 }

 .aboutcontent h2 {
     font-size: 2.3rem;
     padding: 1rem 0rem;

 }

 .aboutcontent span {
     font-size: 2rem;
     align-items: center;
     display: flex;
     gap: 3rem;

 }

 .aboutcontent span.mail-logo {
     cursor: pointer;
 }

 .aboutlogo {
     display: flex;
     flex-direction: column;
     padding-top: 1.5rem;
     gap: 2rem;

 }

 .aboutcontent ion-icon {
     font-size: 3rem;
     color: #111;
 }

 [tooltip] {
     position: relative;
 }

 [tooltip]::before {
     content: "";
     position: absolute;
     top: -6px;
     left: 50%;
     transform: translateX(-50%);
     border-width: 4px 6px 0 6px;
     border-style: solid;
     border-color: #fff transparent transparent transparent;
     z-index: 100;
     opacity: 0;
     transition: all 250ms ease;
 }

 [tooltip]::after {
     content: attr(tooltip);
     position: absolute;
     left: 50%;
     top: -6px;
     transform: translateX(-50%) translateY(-100%);
     background: #fff;
     text-align: center;
     color: #3a5532;
     padding: 4px 8px;
     font-size: 14px;
     min-width: 80px;
     border-radius: 4px;
     pointer-events: none;
     opacity: 0;
     transition: all 250ms ease;
 }

 [tooltip-position='bottom']::before {
     top: 100%;
     margin-top: 36px;
     transform: translateX(-50%) translatey(-100%) rotate(-180deg)
 }

 [tooltip-position='bottom']::after {
     top: 100%;
     margin-top: 36px;
     transform: translateX(-50%) translateY(0);
 }

 [tooltip]:hover::after,
 [tooltip]:hover::before {
     opacity: 1;
 }

 .cvdownloadbtn {
     width: 15rem;
     height: 4rem;
     border-radius: 1rem;
     border: none;
     font-size: 1.8rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.6rem;
     cursor: pointer;
     background-color: transparent;
     border: 3px solid #3d76b4;
 }

 .download:hover .cvdownloadbtn {
     background-color: var(--hover);
     color: white;
 }

 .download:hover .cvdwonloadbtnlogo {
     color: white;
 }

 .download {
     text-decoration: none;

 }

 /* =========================skills-section========================== */
 #skills-section {
     padding-top: 7rem;
 }

 .skills-section h1 {
     display: flex;
     justify-content: center;
     font-size: 3rem;
 }

 .skills-section {
     background: #006c9b40;
 }

 .myskills {
     display: grid;
     grid-template-columns: 2fr 2fr;
     align-items: center;
 }

 .bars {
     padding: 7rem 10rem 4rem 10rem;
 }

 .bar-box {
     position: relative;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 2rem 0;
     margin-bottom: 1rem;
 }

 .bar-box h3,
 .bar-box span {
     font-size: 2.1rem;
     font-weight: 500;
 }

 .light-bars {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     height: 1rem;
     background-color: var(--main-color);
     border-radius: 1rem;
 }

 .percent-bars {
     position: absolute;
     bottom: 0;
     left: 0;
     height: 1rem;
     background-color: var(--hover);
     border-radius: 1rem;
 }

 .html-bar {
     width: 84%;
 }

 .css-bar {
     width: 80%;
 }

 .js-bar {
     width: 40%;
 }

 .php-bar {
     width: 30%;
 }

 .wp-bar {
     width: 70%;
 }

 /* =========================services-section========================== */
 #services-section {
     padding-top: 7.1rem;
 }

 .services-section {
     background: #006c9b40;
 }

 .services-section h1 {
     font-size: 3rem;
     display: flex;
     justify-content: center;
 }

 .myservices {
     width: 100%;
     height: auto;
     display: flex;
     padding: 8rem;
     justify-content: center;
     align-items: center;
     gap: 2.5rem;
 }

 .web-development,
 .uiux-design,
 .wordpress-development,
 .shopify-development,
 .freelancer {
     width: 20rem;
     height: 20rem;
     background: rgba(255, 255, 255, 0.3);
     box-shadow: 0px 1px 2px -1px #111;
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .web-development img,
 .uiux-design img,
 .wordpress-development img,
 .shopify-development img,
 .freelancer img {
     width: 50%;
     height: auto;
     padding-top: 2rem;
 }

 .web-development h2,
 .uiux-design h2,
 .wordpress-development h2,
 .shopify-development h2 {
    padding: 2rem 4rem;
    font-size: 2rem;
 }

 .uiux-design h2,
 .freelancer h2 {
     padding: 3rem 0rem;
    font-size: 2rem;
 }

 /* =========================project-section========================== */
 #project-section {
    padding-top: 7rem;
 }
 .project-section {
     background: #006c9b40;
 }

 .project-section h1 {
     font-size: 3rem;
     display: flex;
     justify-content: center;
 }

 .myprojects {
     width: 100%;
     height: auto;
     display: flex;
     padding: 8rem 5rem;
     justify-content: center;
     align-items: center;
     gap: 12rem;
 }

 .serenicolabs {
    width: 28rem;
    height: 28rem;
     background: rgba(255, 255, 255, 0.3);
     box-shadow: 0px 1px 2px -1px #111;
     border-radius: 1rem;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .serenicolabs img {
     width: 100%;
     height: auto;
     padding: 1rem;
 }

 .serenicolabs h2 {
     padding-top: 1rem;
     font-size: 3.6rem;
 }

 .serenicolabs span {
     padding-top: 1rem;
     font-size: 3rem;
 }

 /* =========================Contactme-section========================== */
 #contactme-section {
    padding-top: 7rem ;
 }
 .contactme-section {
     background: #006c9b40;
 }

 .contactme-section h1 {
     font-size: 3rem;
     display: flex;
     justify-content: center;
 }

 .contactme {
     display: grid;
     grid-template-columns: 2fr 2fr;
 }

 .contact-content {
     padding: 8rem 5rem 12rem 12rem;
     display: flex;
     flex-direction: column;
 }

 .contact-content p {
     font-size: 3rem;
     font-weight: 600;
     margin-bottom: 40px;

 }

 .contact-content span {
     font-size: 2rem;
     font-weight: 400;
     align-items: flex-start;
     margin-bottom: 40px;
 }

 .phonelogo,
 .maillogo,
 .addresslogo {
     /* margin-right: 15px; */
     font-size: 3rem;
     font-weight: 500;
     color: var(--main-color);
 }

 .contact-form {
     padding: 8rem 12rem 13rem 3rem;
 }

 .contact-form input,
 .contact-form textarea {
     /* display: flex;
     width: 50%;
     justify-content: center;
     flex-direction: column; */
     border: none;
     color: #111;
     background-color: rgba(255, 255, 255, 0.3);
     font-size: 2rem;
     margin-bottom: 20px;
     padding: 5px 20px 5px 20px;
     border-radius: 1rem;
 }
 .contact-form textarea {
    resize: none;
 }

 .contact-form textarea {
     width: 90%;
 }

 .contact-form .first-row input {
     width: 90%;
 }

 .contact-form .second-row {
     display: flex;
     gap: 1rem;
 }

 .contact-form .second-row input {
     width: 44%;
 }

 ::placeholder {
     color: black;
 }

 .contact-form .submitbtn {
    width: 25%;
    height: 10%;
    font-size: 2rem;
     border: none;
     border-radius: 1rem;
 }

 .contact-form .submitbtn:hover {
     background-color: var(--hover);
     color: white;
 }

 /* ==========================footer Section==============================  */

 .footer {
     background: #3d76b4;
     width: 100%;
     text-align: center;
     padding: 30px 0px 10px 0px;
 }
 .footer h1{
    color: white;
    font-size: 1.8rem;
    padding-bottom: 1rem;
 }
 .footer span{
    color: white;
   font-size: 1.4rem;
   padding-bottom: 0.8rem;
 }
 .footer-sociallogo{
    color: white;
    font-size: 2.4rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 .footer-sociallogo:hover{
    color:var(--hover);
 }
 .footer p{
    color: #acacac;
    font-size: 1.2rem;
 }




 /* navbar responsive ness */
 /* 980px */
 /* 1em = 16px */
 @media (max-width: 62em) {
     .mobile-navbar-btn {
         display: block;
         z-index: 999;
     }

     .navbar-links:link,
     .navbar-links:visited {
         color: #111;
     }

     .header {
         position: relative;
         padding: 0 4.4rem;
         justify-content: space-between;
         height: 6rem;

     }

     .header .imglogo {
         height: 3rem;
     }

     .navigation {
         /* display: none; */
         width: 100%;
         height: 100vh;
         background-color: white;
         position: absolute;
         top: 0;
         left: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         transform: translateX(100%);
         transition: all 0.5s linear;
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
         /*research*/
     }

     .navbar-list {
         flex-direction: column;
         align-items: center;
     }



     .active .navigation {
         transform: translateX(0);
         opacity: 1;
         visibility: visible;
         pointer-events: auto;
     }

     .active .mobile-navbar-btn .mobile-menu-icon[name="close-outline"] {
         display: block;
     }

     .active .mobile-navbar-btn .mobile-menu-icon[name="menu-outline"] {
         display: none;
     }
 }

 /* 560 */
 @media (max-width: 35em) {

     .header {
         padding: 0 3.4rem;
     }

     .header .imglogo {
         height: 3rem;
     }
 }